[core]
  editor = nvim
[include]
  path = .gitconfig.color
  path = .gitconfig.alias
[user]
    name = MisterGrinvalds
    email = ross.grinvalds@gmail.com
[includeIf "gitdir:~/Repos/work/"]
    path = ~/.gitconfig.work
