<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>
 <key>Label</key>
 <string>setenv.XDG</string>
 <key>Program</key>
 <string>/bin/bash</string>
 <key>ProgramArguments</key>
 <array>
 <string>/bin/bash</string>
 <string>-c</string><string>launchctl setenv XDG_CONFIG_HOME "$HOME/.dotfiles";
 launchctl setenv XDG_DATA_HOME "$HOME/Library/Application Support";
 launchctl setenv XDG_CACHE_HOME "$HOME/Library/Caches";</string>
 </array>
 <key>RunAtLoad</key>
 <true/>
</dict>
</plist>
